// Icons from directory ""
%icon {
	background-repeat: no-repeat;
	background-size: 100%;
	fill: white;
}
.icon-android,
.icon-android\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2226%22%3E%3Cpath%20d%3D%22M21.323%209.729v6.458c0%20.833-.65%201.51-1.451%201.51-.8%200-1.451-.677-1.451-1.51V9.73c0-.834.65-1.51%201.45-1.51.801%200%201.452.676%201.452%201.51zm-18.371%200v6.458c0%20.833-.65%201.51-1.45%201.51-.801%200-1.452-.677-1.452-1.51V9.73c0-.834.65-1.51%201.452-1.51.8%200%201.45.676%201.45%201.51zm14.492-1.51v11.072c0%20.879-.685%201.594-1.529%201.594H14.81c.037.133.059.272.059.419v3.187c0%20.833-.649%201.509-1.45%201.509-.8%200-1.448-.676-1.448-1.509v-3.187c0-.147.019-.286.057-.419H9.336c.037.133.06.272.06.419v3.187c0%20.833-.652%201.509-1.452%201.509-.8%200-1.449-.676-1.449-1.509v-3.187c0-.147.02-.286.057-.419H5.45c-.844%200-1.53-.715-1.53-1.594V8.22zm-3.132-3.774a.738.738%200%2000-.726-.753c-.4%200-.724.336-.724.753%200%20.418.325.755.724.755a.739.739%200%2000.726-.755zM7.787%205.2c.4%200%20.724-.337.724-.755%200-.417-.325-.753-.724-.753a.738.738%200%2000-.726.753c0%20.418.323.755.726.755zm6.22-3.023c2.05.995%203.437%202.88%203.437%205.037H3.918c0-2.157%201.387-4.042%203.439-5.037l-.273-.425-.269-.42-.602-.94a.258.258%200%2001.068-.35.236.236%200%2001.335.071l.647%201.009.27.423.276.431a7.651%207.651%200%20012.872-.55%207.66%207.66%200%20012.874.55l.275-.43.273-.424.646-1.009a.234.234%200%2001.334-.07.257.257%200%2001.068.348l-.603.942-.269.419z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-android-dims {
	width: 22px;
	height: 26px;
}
.icon-apple,
.icon-apple\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2227%22%3E%3Cpath%20d%3D%22M15.356.82c-1.327.095-2.88.983-3.786%202.138-.824%201.047-1.502%202.605-1.239%204.118%201.453.048%202.95-.862%203.82-2.036.81-1.094%201.428-2.641%201.205-4.22zm5.967%2019.076c-4.223-1.679-4.901-7.945-.72-10.353-1.276-1.669-3.066-2.636-4.758-2.636-2.236%200-3.18%201.115-4.73%201.115-1.6%200-2.816-1.112-4.747-1.112-1.9%200-3.919%201.21-5.2%203.28-1.802%202.915-1.495%208.396%201.425%2013.064%201.045%201.67%202.44%203.549%204.264%203.566%201.621.015%202.081-1.087%204.28-1.1%202.2-.013%202.616%201.112%204.237%201.095%201.825-.015%203.298-2.097%204.342-3.766.748-1.198%201.027-1.8%201.607-3.153z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-apple-dims {
	width: 22px;
	height: 27px;
}
.icon-facebook,
.icon-facebook\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2228%22%3E%3Cpath%20d%3D%22M9.235%2027.362H3.47V13.769H.59V9.086h2.88V6.274C3.47%202.454%205.096.18%209.717.18h3.847v4.685H11.16c-1.8%200-1.918.655-1.918%201.876l-.008%202.345h4.356l-.51%204.683H9.234v13.593z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-facebook-dims {
	width: 14px;
	height: 28px;
}
.icon-googleplay,
.icon-googleplay\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2226%22%3E%3Cpath%20d%3D%22M1.475%200c.03.013.06.014.09.03.015.007.032.006.047.015l10.9%206.12%205.321%203-.167.147-1.93%201.863-1.338%201.286L1.778.267h-.015l-.03-.03zM.563.118H.561zm0%200l.06.045.136.133%2012.954%2012.52.046.028h.015l.107.105L.684%2025.69l-.167.179H.502l-.016.013a.738.738%200%2001-.076-.339V.622A.82.82%200%2001.562.117zM18.49%209.52c.564.317%204.64%202.62%205.144%202.882l.092.06c.03.019.065.038.09.059.364.287.33.707-.227%201.02l-5.099%202.867-.075-.074H18.4l-.121-.133-3.365-3.25.122-.106v-.013l.031-.015%201.659-1.597%201.552-1.492.122-.134h.016zm-.825%207.095l.167.148-5.321%203L1.384%2026l.364-.34.015-.015%2012.634-12.194z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-googleplay-dims {
	width: 24px;
	height: 26px;
}
.icon-linkedin,
.icon-linkedin\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M18.272%2023.826v-8.315c0-2.176-.817-3.66-2.614-3.66-1.374%200-2.138%201.001-2.494%201.969-.134.345-.113.828-.113%201.313v8.693H7.876s.067-14.728%200-16.067h5.175v2.522c.306-1.103%201.96-2.676%204.599-2.676%203.274%200%205.846%202.312%205.846%207.287v8.934zM2.61%205.751C.94%205.75-.14%204.523-.14%202.969-.14%201.383.973.18%202.674.18c1.7%200%202.745%201.2%202.778%202.785%200%201.554-1.078%202.786-2.81%202.786zM.456%207.759h4.597v16.046H.456z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-linkedin-dims {
	width: 24px;
	height: 24px;
}
.icon-mail,
.icon-mail\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2227%22%20height%3D%2220%22%3E%3Cpath%20d%3D%22M26.68%206.647V17.31c0%20.591-.227%201.097-.682%201.518a2.328%202.328%200%2001-1.64.631H3.002c-.638%200-1.184-.21-1.64-.631C.908%2018.407.68%2017.9.68%2017.31V6.647a7.56%207.56%200%20001.465%201.169c3.502%202.202%205.905%203.746%207.211%204.633.552.376.999.67%201.342.88.344.21.8.425%201.371.644.571.22%201.103.329%201.596.329h.03c.493%200%201.025-.11%201.596-.329.57-.22%201.027-.434%201.37-.645.344-.21.791-.503%201.343-.88%201.644-1.1%204.053-2.645%207.225-4.632a7.859%207.859%200%20001.451-1.169zM1.478%204.827C.946%204.17.68%203.559.68%202.995c0-.698.2-1.28.602-1.746.401-.465.975-.698%201.72-.698h21.357c.628%200%201.172.21%201.632.631.46.421.689.927.689%201.518%200%20.707-.237%201.383-.711%202.027a6.656%206.656%200%2001-1.77%201.652l-6.79%204.365c-.097.063-.303.2-.617.41a29.9%2029.9%200%2001-.783.51c-.208.13-.46.275-.755.436a4.56%204.56%200%2001-.834.363c-.261.08-.503.12-.725.12h-.03c-.222%200-.464-.04-.725-.12a4.555%204.555%200%2001-.834-.363%2015.271%2015.271%200%2001-.755-.436c-.208-.13-.469-.3-.783-.51-.315-.21-.52-.347-.617-.41-.88-.573-2.147-1.39-3.801-2.45A677.758%20677.758%200%20013.175%206.38c-.6-.376-1.165-.893-1.697-1.551z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-mail-dims {
	width: 27px;
	height: 20px;
}
.icon-windows,
.icon-windows\:regular {
	@extend %icon;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M.05%2020.393l8.582%201.381V12.65H.05zm0-9.047h8.582V2.221L.05%203.602zm9.756%2010.617l11.507%201.853V12.65H9.806zm0-19.93v9.313h11.507V.18z%22%2F%3E%3C%2Fsvg%3E');
}
.icon-windows-dims {
	width: 22px;
	height: 24px;
}