// Icons from directory ""
%icon {
	background-repeat: no-repeat;
	//fill: white;
}
.icon-android,
.icon-android\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 0;
}
.icon-android-dims {
	width: 22px;
	height: 26px;
}
.icon-apple,
.icon-apple\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 -26px;
}
.icon-apple-dims {
	width: 22px;
	height: 27px;
}
.icon-facebook,
.icon-facebook\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 -53px;
}
.icon-facebook-dims {
	width: 14px;
	height: 28px;
}
.icon-googleplay,
.icon-googleplay\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 -81px;
}
.icon-googleplay-dims {
	width: 24px;
	height: 26px;
}
.icon-linkedin,
.icon-linkedin\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 -107px;
}
.icon-linkedin-dims {
	width: 24px;
	height: 24px;
}
.icon-mail,
.icon-mail\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 -131px;
}
.icon-mail-dims {
	width: 27px;
	height: 20px;
}
.icon-windows,
.icon-windows\:regular {
	@extend %icon;
	background-image: url('/assets/icons.svg');
	background-position: 0 -151px;
}
.icon-windows-dims {
	width: 22px;
	height: 24px;
}