@import 'variables';
@import '~bootstrap';
@import '~bootstrap-vue';
@import 'iconizr-svg-sprite';
@import '~sass-rem';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&family=Roboto:ital,wght@0,400;1,300&display=swap');

html, body {
  min-height: 100vh;
}

.page {

  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .navbar-dark, .navbar-nav .nav-link {
    color: white;
  }

  &-dropdown {

    .dropdown-menu {
      border-radius: 0;
      padding: 0;
      width: 242px;
      left: -88px;
      top: calc(100% + 8px);

      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -14px;
        border: 14px solid transparent;
        border-bottom: 8px solid white;
      }
    }

    &_up {
      .dropdown-menu {
        top: -8px !important;

        &:before {
          bottom: unset;
          top: 100%;
          border-bottom: none;
          border-top: 8px solid white;
        }
      }
    }

    &-item {

      a {
        padding: rem(15px);
      }

      border-bottom: 1px solid #CECECE;
      font-family: Roboto, sans-serif;
      font-size: rem(16px);
      line-height: 28px;
      font-weight: 300;
      width: 240px;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &-section {

    .custom-select {
      background-image: none;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.81373 5.86077C5.41491 6.41912 4.58509 6.41912 4.18627 5.86077L1.12946 1.58124C0.656693 0.91937 1.12982 0 1.94319 0L8.05681 0C8.87018 0 9.34331 0.91937 8.87054 1.58124L5.81373 5.86077Z' fill='%23090909'/%3E%3C/svg%3E%0A");
    }

    &__title {
      color: #151515;
      font-family: "Roboto Slab", serif;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: rem(22px);
    }

    &__subtitle {
      color: #151515;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 400;
    }

    &-content {
      width: 100%;
      max-width: 960px;
      margin: 0 auto;
      padding: rem(104px) 0;

      font-family: Roboto, sans-serif;
      color: #090909;
      font-weight: 300;

      p {
        font-size: 16px;
        line-height: 28px;
      }
    }

    &_gray {
      background-color: #f8f8f8;
    }
  }

  &-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;

    transition: background-color .5s ease-in-out;

    &_faded {
      background-color: rgba(6, 6, 6, 0.4);
    }

    &_solid {
      background-color: rgba(6, 6, 6, 1);
    }

    .dropdown-toggle:after {
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      width: 7px;
      height: 7px;
      padding: 0;
      vertical-align: middle;
      margin-top: -6px;
      margin-left: 12px;

      transform: rotate(45deg);
    }

    .header {
      &__contact-us {

        display: flex;
        align-items: center;

        i.icon {
          width: 22px;
          height: 17px;
          background-position: 0 -107px;
          background-size: cover;
          margin-right: rem(14px);
        }
      }
    }
  }

  &-main {
    height: 836px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #060606;

    .main {
      &-slider {

        padding-top: 220px;

        &-slide {

          color: #ffffff;

          .slide {
            &__title {
              font-family: "Roboto Slab", serif;
              font-size: 42px;
              font-weight: 700;
            }

            &__subtitle {
              margin-top: 24px;
              font-family: Roboto, sans-serif;
              font-size: 20px;
              font-weight: 400;
            }

            &__text {
              margin-top: 16px;
              font-family: Roboto, sans-serif;
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
            }

            &-downloads {
              margin-top: 50px;
              display: flex;

              &__link {
                margin-right: 18px;

                &_appstore {
                  width: 133px;
                  height: 43px;
                  background: url("/assets/images/appstore_download.svg") no-repeat 100%;
                }
              }

              .mack_store {
                width: 30%;
                height: 43px;
                background: url("/assets/images/white_mackstore_en.svg") no-repeat 100%;
              }
            }

            &-images {
              width: 436px;
              height: 282px;

              .slick-slide {
                border-radius: 10px;
                padding: 0 12px;

                img {
                  pointer-events: none;
                }
              }

              .slick-dots {

                bottom: -20px;

                li {
                  button:before {
                    font-size: rem(12px);
                    color: white;
                    transform-origin: center;
                    transition: transform .1s ease;
                  }

                  &.slick-active {
                    button:before {
                      transform: scale(1.15);
                    }
                  }
                }
              }

              .slick-arrow {
                border: solid white;
                border-width: 0 4px 4px 0;
                display: inline-block;
                width: 12px;
                height: 12px;
                padding: 0;
                vertical-align: middle;
                margin-top: -6px;

                &:before {
                  content: unset;
                }

                &.slick-prev {
                  transform: rotate(135deg);
                }

                &.slick-next {
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }

        &-nav {
          margin: 108px auto 0 auto;
          height: 110px;
          max-width: 800px;
          width: auto;
          white-space: nowrap;
          border-radius: 26px;
          background-color: rgba(255, 255, 255, 0.18);

          &__item {
            position: relative;
            display: inline-block;
            height: 82px;
            width: 82px;
            margin: 14px 9px;
            cursor: pointer;
            transition: transform .1s ease-out;

            &:hover {
              transform: translateY(-5px)
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              left: 50%;
              margin-left: -3px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: white;
              opacity: 0;
              bottom: 0;
              transition: opacity .2s ease-in, bottom .2s ease-out;
            }

            &_active {
              &:after {
                bottom: -10px;
                opacity: 1;
              }
            }
          }

          .slick-slide {
            height: 110px;
            width: 100px;


            img {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  &-main-contact {
    height: 400px;
    background: url("/assets/images/page_main_contact_bg.png") no-repeat center center #333431;
    background-size: cover;
  }

  &-contact {

    &-form-modal {
      width: 349px;

      &-header {
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        color: #090909;
        text-align: center;
      }

      &-footer {
        padding-top: 186px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #090909;
        text-align: center;
      }

      &-body {
        padding: 0;
      }

      &-content {
        min-height: 306px;
        border-radius: 16px;
        padding: 24px;

        &.success {
          background: url("/assets/images/form-success.svg") no-repeat center 86px white;
        }

        &.error {
          background: url("/assets/images/form-error.svg") no-repeat center 86px white;
        }
      }
    }

    form {
      textarea {
        min-height: 136px;
      }

      button[type=submit] {
        border-radius: 30px;
        font-family: 'Roboto Slab', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        padding: 14px 30px 14px 55px;
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.9887 0.920741L18.8459 19.7775C18.8049 20.0149 18.674 20.199 18.453 20.33C18.3384 20.3954 18.2116 20.4282 18.0724 20.4282C17.9824 20.4282 17.8842 20.4077 17.7778 20.3668L12.2165 18.0956L9.24561 20.7172C9.09829 20.9055 8.89777 20.9996 8.64406 20.9996C8.53766 20.9996 8.44763 20.9832 8.37397 20.9505C8.21847 20.8932 8.09366 20.797 7.99954 20.662C7.90542 20.5269 7.85836 20.3776 7.85836 20.2139V16.9294L14.0891 9.05206L5.34166 15.2843L0.492426 13.2955C0.189603 13.1809 0.0259173 12.9559 0.00136409 12.6203C-0.0150047 12.2929 0.115944 12.0515 0.394214 11.896L20.8224 0.110489C20.9452 0.0368293 21.0761 0 21.2152 0C21.3789 0 21.5262 0.0450136 21.6572 0.135042C21.9273 0.331468 22.0378 0.593365 21.9887 0.920741Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 14px center;
      }
    }
  }

  &-not-found {

    padding: 90px 0 120px 0;

    .not-found {
      &-code {
        color: #d9d9d9;
        font-family: 'Roboto Slab', serif;
        font-weight: 900;
        font-size: 280px;
        margin-bottom: 34px;
      }

      &-title {
        color: #f75300;
        font-family: "Roboto Slab", serif;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 12px;
      }

      &-description {
        color: #151515;
        font-family: "Roboto Light", sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 24px;
      }

      &-link {
        color: #090909;
        font-family: "Roboto Slab", serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 42px;
      }
    }
  }

  &-remote-work {
    .remote-work {
      &-row {
        display: flex;

        p {
          max-width: 605px;
        }

        &-email {
          margin-left: auto;
          width: 225px;
          font-family: "Roboto Light", sans-serif;
          font-size: 16px;
          font-weight: 300;
          line-height: 28px;

          a {
            display: block;
            font-family: "Roboto Slab", serif;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }

  &-footer {
    background-color: #090909;
    min-height: 220px;
    margin-top: auto;

    .page-section-content {
      padding: 60px 0;
      color: white;
    }

    .footer {

      &__copyright {
        font-family: "Roboto Slab", serif;
        font-weight: 400;
        font-size: rem(20px);

        strong {
          font-weight: 900;
        }

      }

      &__company {
        font-family: "Roboto Slab", serif;
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(24px);
      }

      &-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include media-breakpoint-down(sm) {
          justify-content: flex-end;
        }
        margin: 0 rem(-12px);
        padding: 1px 0;

        a {
          padding: 0 rem(6px);
          margin: 0 rem(6px) rem(12px) rem(6px);

          .icon {
            display: block;
          }
        }

        &-docs {
          a {
            color: #f75300;
            font-family: "Roboto Slab", serif;
            font-size: 16px;
            font-weight: 700;
            display: inline-block;

            padding-left: rem(12px);
          }
        }
      }
    }
  }
}
