<template>
  <div>
    <b-form
        @submit="onSubmit"
        @reset="onReset"
        id="contact-form"
        class="d-flex flex-column"
    >
      <b-form-group
          id="contact-form-name-group"
          label="Your Name"
          label-for="contact-form-name"
      >
        <b-form-input
            id="contact-form-name"
            name="name"
            v-model="form.name"
            placeholder=""
            required
        ></b-form-input>
      </b-form-group>

      <b-form-row>
        <b-col>
          <b-form-group
              id="contact-form-email-group"
              label="Email"
              label-for="contact-form-email"
          >
            <b-form-input
                id="contact-form-email"
                name="email"
                v-model="form.email"
                type="email"
                placeholder=""
                required
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
              id="contact-form-country-group"
              label="Country"
              label-for="contact-form-country"
          >
            <b-form-select
                id="contact-form-country"
                name="country"
                v-model="form.country"
                :options="countriesOptions"
                required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-form-row>

      <b-form-group
          id="contact-form-request-type-group"
          label="Request type"
          label-for="contact-form-request-type"
      >
        <b-form-select
            id="contact-form-request-type"
            name="request_type"
            v-model="form.requestType"
            :options="requestTypesOptions"
            required
        ></b-form-select>
      </b-form-group>

      <b-form-group
          id="contact-form-app-group"
          label="Select an app"
          label-for="contact-form-app"
          v-show="form.requestType === 'Apps'"
      >
        <b-form-select
            id="contact-form-app"
            name="app"
            v-model="form.app"
            :options="appsOptions"
        ></b-form-select>
      </b-form-group>

      <b-form-group
          id="contact-form-message-group"
          label="Message"
          label-for="contact-form-message"
      >
        <b-form-textarea
            id="contact-form-message"
            name="message"
            v-model="form.message"
            placeholder=""
            required
        ></b-form-textarea>
      </b-form-group>
      <div>
        Отправляя эту форму вы явным образом принимаете
        <b-link to="/privacy-policy">политику конфиденциальности</b-link>
        от Villow
      </div>
      <b-button type="submit" variant="primary" class="mt-3 ml-auto">Send</b-button>
    </b-form>

    <b-modal
        ref="formModalResponse"
        id="form-modal-responce"
        hide-footer
        hide-header
        dialogClass="page-contact-form-modal"
        bodyClass="page-contact-form-modal-body"
        :contentClass="['page-contact-form-modal-content', formModal.isSuccess ? 'success' : 'error']"
    >
      <div class="page-contact-form-modal-header">
        {{ formModal.isSuccess ? formModal.successTitle : formModal.errorTitle }}
      </div>
      <div class="page-contact-form-modal-footer">{{ formModal.text }}</div>
    </b-modal>
  </div>
</template>

<script>
import {mapState} from "vuex";
import {init, sendForm} from 'emailjs-com';

init("user_BjYO2zPO2Bf01q8f4Lalk");

export default {
  name: "ContactFormComponent",
  data() {
    return {
      form: {
        name: '',
        email: '',
        country: null,
        requestType: 'general',
        app: null,
        message: ''
      },
      formModal: {
        isSuccess: false,
        successTitle: 'Sent successfuly',
        errorTitle: 'Not sent',
        text: ''
      }
    }
  },
  computed: {
    countriesOptions() {
      return [{text: 'Select country', value: null}, ...this.countries]
    },
    requestTypesOptions() {
      return [{text: 'Select subject', value: null}, ...this.requestTypes]
    },
    appsOptions() {
      let appTitles = this.apps.flatMap(app => app.title)
      return [{text: 'Select your Platform', value: null}, ...appTitles]
    },
    ...mapState(['apps', 'countries', 'requestTypes'])
  },
  methods: {
    onSubmit(event) {
      event.preventDefault()

      sendForm('service_aml30el', 'template_3ogc9c3', '#contact-form')
          .then(() => {
            const data = JSON.stringify(this.form)
            const blob = new Blob([data], {type: 'text/plain'})
            const e = document.createEvent('MouseEvents'),
                a = document.createElement('a');
            a.download = "contactForm.json";
            a.href = window.URL.createObjectURL(blob);
            a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
            e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            a.dispatchEvent(e);
            console.log('Сохранено в файл')
          })
          .then(
              () => this.openModal(true, 'Information was sent successfuly'),
              (error) => this.openModal(false, error.message)
          );
    },
    openModal(isSuccess, message) {
      this.formModal.isSuccess = isSuccess;
      this.formModal.text = message;
      this.$refs.formModalResponse.show();
    },
    onReset(event) {

    },
  },
  mounted() {
    this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
      if (modalId === 'form-modal-responce') {
        this.$router.push({name: 'home'});
      }
    })
  }
}
</script>

<style scoped>

</style>
