<template>
    <div>
        <section class="page-main-contact"></section>
        <section class="page-contact page-section">
            <b-container fluid="md">
                <div class="page-section-content">
                    <h3 class="page-section__title">Contact Us</h3>
                    <contact-form-component></contact-form-component>
                </div>
            </b-container>
        </section>
    </div>
</template>

<script>
    export default {
        name: "ContactPage"
    }
</script>

<style scoped>

</style>