<template>
    <footer class="page-footer">
        <b-container fluid="md">
            <div class="page-section-content">
                <b-row>
                    <b-col>
                        <div class="footer__copyright mb-2" v-html="copyright"></div>
                    </b-col>
                    <b-col class="d-flex flex-column">
                        <div class="footer-links_wrapper mb-2">
                            <div class="footer-links">
                                <a
                                    v-for="link in socialLinks"
                                    :href="link.href"
                                >
                                    <i :class="['icon', 'icon-' + link.icon, 'icon-' + link.icon + '-dims']"></i>
                                </a>
                            </div>
                        </div>

                        <div class="div d-flex mt-auto">
<!--                            <b-dropdown-->
<!--                                id="language-select"-->
<!--                                :text="currentLanguage.name"-->
<!--                                variant="transparent"-->
<!--                                toggle-class="text-white p-0"-->
<!--                                class="page-dropdown page-dropdown_up"-->
<!--                            >-->
<!--                                <b-dropdown-item-->
<!--                                    class="page-dropdown-item"-->
<!--                                    :data-lang="lang.code"-->
<!--                                    :key="lang.code"-->
<!--                                    v-for="lang in languages"-->
<!--                                    v-on:click="currentLanguage = lang"-->

<!--                                >{{lang.name}}</b-dropdown-item>-->
<!--                            </b-dropdown>-->

                            <div class="footer-links-docs ml-auto">
                                <b-link to="/privacy">Privacy policy</b-link>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </div>
        </b-container>
    </footer>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "FooterComponent",
        data() {
            return {
                currentLanguage: {code: 'en', name: 'English'},
            }
        },
        computed: mapState(['languages', 'socialLinks', 'copyright', 'company'])
    }
</script>

<style scoped>

</style>