<template>
    <header class="page-header" ref="pageHeader">
        <b-container fluid>
            <b-navbar class="header-navbar" toggleable="md" type="dark">
                <b-navbar-brand to="/">
                    <img src="/assets/images/villow_logotype_light.svg" alt="villow">
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav align="right" class="ml-auto">
                        <b-nav-item-dropdown
                                class="ml-2 page-dropdown"
                        >
                            <!-- Using 'button-content' slot -->
                            <template #button-content>Apps</template>
                            <b-dropdown-item
                                class="page-dropdown-item"
                                :to="{name: 'home', params: { app_index: i }}"
                                v-for="(app, i) in apps"
                                :key="app.title"
                                @click.native="$root.$emit('update:app', { app_index: i })"
                            >{{app.title}}</b-dropdown-item>
                        </b-nav-item-dropdown>

                        <b-nav-item class="ml-2" router-component-name="vue-anchor-router-link" :to="{name: 'home', hash: '#about'}">
                            About us
                        </b-nav-item>
                        <b-nav-item class="ml-2" router-component-name="vue-anchor-router-link" :to="{name: 'home', hash: '#remote-work'}">
                            Remote work
                        </b-nav-item>

                        <b-button to="/contact" size="md" pill variant="primary" class="header__contact-us my-2 my-sm-0 ml-2" type="submit">
                            <i class="icon icon-mail"></i>
                            Contact us
                        </b-button>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </b-container>
    </header>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "HeaderComponent",
        mounted() {
            this.setScrollBreakpoint();
            window.addEventListener('scroll', this.handleScroll)

            this.$nextTick(() => {
                this.setHeaderClass()
            })
        },
        watch: {
            $route(to, from) {
                this.$nextTick(() => {
                    this.setScrollBreakpoint();
                    this.setHeaderClass()
                })
            }
        },
        computed: mapState(['apps']),
        data() {
            return {
                headerFadedClass: 'page-header_faded',
                headerSolidClass: 'page-header_solid',
                scrollTopBreakpointElementSelector: {
                    home: '.page-main',
                    contact: '.page-main-contact'
                },
                scrollTopBreakpoint: 0
            }
        },
        methods: {
            handleScroll(e) {
                this.$nextTick(() => {
                    this.setHeaderClass()
                })
            },

            setScrollBreakpoint() {
                if (typeof this.scrollTopBreakpointElementSelector[this.$route.name] !== 'undefined') {
                    let selector = this.scrollTopBreakpointElementSelector[this.$route.name]
                    this.scrollTopBreakpoint = document.querySelector(selector).offsetHeight
                } else {
                    this.scrollTopBreakpoint = 0;
                }
            },

            setHeaderClass() {
                if (window.scrollY === 0) {
                    this.$refs.pageHeader.classList.remove(this.headerFadedClass)
                } else {
                    this.$refs.pageHeader.classList.add(this.headerFadedClass)
                }

                if (window.scrollY >= this.scrollTopBreakpoint || this.scrollTopBreakpoint === 0) {
                    this.$refs.pageHeader.classList.add(this.headerSolidClass)
                } else {
                    this.$refs.pageHeader.classList.remove(this.headerSolidClass)
                }
            }
        }
    }
</script>

<style scoped>

</style>