<template>
    <div>
        <section class="page-main" id="apps" :style="pageMainStyleObject">
            <b-container fluid="md">
                <main-slider-component :apps="apps"></main-slider-component>
            </b-container>
        </section>

        <section class="page-about-us" id="about">
            <b-container fluid="md">
                <div class="page-section-content">
                    <h3 class="page-section__title">About Us?</h3>
                    <p class="page-section__subtitle">We are an emerging powerin the IT industry</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et</p>
                    <p>expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                </div>
            </b-container>
        </section>

        <section class="page-remote-work page-section_gray" id="remote-work">
            <b-container fluid="md">
                <div class="page-section-content">
                    <h3 class="page-section__title">Remote work</h3>
                    <div class="remote-work-row">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias nimi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et</p>
                        <div class="remote-work-row-email">
                            <a href="mailto:corporate@villow.com">corporate@villow.com</a>
                            Looking to collab
                        </div>
                    </div>
                    <div class="remote-work-row">
                        <p>expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non." </p>
                        <div class="remote-work-row-email">
                            <a href="mailto:jobs@villow.com">jobs@villow.com</a>
                            Looking to work together
                        </div>
                    </div>
                </div>
            </b-container>
        </section>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "PageMain",
        computed: {
            ...mapState(['apps'])
        },
        data() {
            return {
                pageMainStyleObject: {
                    backgroundImage: ''
                }
            }
        }
    }
</script>

<style scoped>

</style>