<template>
  <div>
    <div class="main-slider-slide photoswipe">
      <div class="paragraph">
        <v-photoswipe :isOpen="isOpen" :items="apps[appId].items" :options="options" @close="hidePhotoSwipe"/>
      </div>
    </div>
    <VueSlickCarousel
        ref="slick"
        v-bind="mainSliderSettings"
        class="main-slider"
        @beforeChange="beforeChangeHandler"
    >
      <div v-for="(app, appId) in apps" :key="appId" class="main-slider-slide">
        <slider :app="app" @showPhotoSwipe="showPhotoSwipe($event, appId)"/>
      </div>
    </VueSlickCarousel>

    <div ref="mainSliderNav" class="main-slider-nav">
      <vue-scroll ref="navVuescroll" :ops="vueScrollOptions">
        <div
            v-for="(app, i) in apps"
            class="main-slider-nav__item"
            @click.prevent.stop="goTo(i)"
            :id="'main-slider-nav__item_' + i"
        >
          <img :src="app.icon" :alt="app.name">
        </div>
      </vue-scroll>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

import vuescroll from 'vuescroll/dist/vuescroll-native'
import 'vuescroll/dist/vuescroll.css'

Vue.use(vuescroll)

import { PhotoSwipe, PhotoSwipeGallery } from 'v-photoswipe'

export default {
  name: 'MainSliderComponent',
  props: ['apps'],
  data() {
    return {
      isOpen: false,
      appId: 0,
      options: {
        index: 0
      },
      mainSliderSettings: {
        arrows: false,
        dots: false,
        draggable: false,
        touchMove: false,
        autoplay: false,
        autoplaySpeed: 5000
      },
      vueScrollOptions: {
        scrollPanel: {
          scrollingY: false,
        },
        bar: {
          showDelay: 500,
          onlyShowBarOnScroll: false,
          keepShow: false,
          background: '#c1c1c1',
          opacity: 0.3,
          hoverStyle: false,
          specifyBorderRadius: false,
          minSize: 0,
          size: '3px',
          disable: false
        },
        rail: {
          gutterOfEnds: '26px',
          gutterOfSide: '0px',
        },
        vuescroll: {
          wheelDirectionReverse: true,
          locking: true
        }
      },
      navItemCurrentClass: 'main-slider-nav__item_active'
    }
  },
  computed: {
    navItems: function () {
      return document.querySelectorAll('.main-slider-nav__item')
    },
    navVisibleItemsCount: function () {
      let appsCount = this.apps.length;
      return appsCount > 8 ? 8 : appsCount;
    }
  },
  methods: {
    photoSwipe: function (obj) {
      console.log('obj', obj)
    },
    goTo: function (i) {
      this.$refs.slick.goTo(i)
    },
    getCurrent: function () {
      return this.$refs.slick.$refs.innerSlider.currentSlide
    },
    beforeChangeHandler: function (oldCurrent, newCurrent) {
      this.navItems[oldCurrent].classList.remove(this.navItemCurrentClass)
      this.navItems[newCurrent].classList.add(this.navItemCurrentClass)
      this.$parent.pageMainStyleObject['backgroundImage'] =
          'url("' + this.apps[newCurrent].bgImage + '")';
      if (newCurrent > this.navVisibleItemsCount - 1) {
        this.$refs.navVuescroll.scrollIntoView('.' + this.navItemCurrentClass, 1000)
      }
      if (oldCurrent > this.navVisibleItemsCount - 1 && newCurrent === 0) {
        this.$refs.navVuescroll.scrollTo({x: 0}, 100)
      }
    },
    showPhotoSwipe(index, appId) {
      this.isOpen = true
      this.$set(this.options, 'index', index)
      this.appId = appId
    },
    hidePhotoSwipe() {
      this.isOpen = false
    }
  },
  watch: {
    '$route.params.app_index'(app_index) {
      console.log(app_index);
      this.goTo(app_index)
    }
  },
  mounted: function () {
    this.$nextTick(function () {
      this.navItems[this.getCurrent()].classList.add(this.navItemCurrentClass)
      this.$parent.pageMainStyleObject['backgroundImage'] = 'url("' + this.apps[this.getCurrent()].bgImage + '")';
      this.$refs.mainSliderNav.style.width = this.navVisibleItemsCount * 100 + 'px';
    })

    this.$root.$on('update:app', (data) => {
      this.goTo(data.app_index)
    })
  },

  components: {
    VueSlickCarousel,
    vuescroll,
    'v-photoswipe': PhotoSwipe,
    'v-photoswipe-gallery': PhotoSwipeGallery
  },
}
</script>

<style scoped lang="scss">
.photoswipe {
  width: 100%;
  height: 0;

  img {
    height: inherit;
    width: 200px;
  }
}

.slide-images {
  img {
    width: 100%;
    height: auto;
    cursor: pointer;

    //width: 50%;
    //margin: auto;
  }
}
</style>
