<template>
    <section class="page-not-found">
        <b-container fluid="md" class="text-center">
            <div class="not-found-code">404</div>
            <div class="not-found-title">Page nor found.</div>
            <div class="not-found-description">The page you went to was not found or does not exist.</div>
            <b-link to="/" class="not-found-link">HOME</b-link>
        </b-container>
    </section>
</template>

<script>
    export default {
        name: "NotFoundPage"
    }
</script>

<style scoped>

</style>