<template>
    <section class="page-section">
        <b-container fluid="md">
            <div class="page-section-content">

<h3 class="page-section__title">Privacy policy</h3>
<h4 class="page-section__subtitle">Version effective as of February 15, 2021.</h4>
<p>
This document defines the policy of Villow LLC (hereinafter - the Right holder) in relation to the processing of personal data of the users of the website <a href="https://villow.studio/">https://villow.studio/</a> (hereinafter - the Site), mobile applications of the Right holder (hereinafter - the Policy).<br />
The User agrees to the terms of this Policy when using the Service or submitting their Personal Data to the Right Holder.
</p>
<p>
Terms shall mean:<br />

<b>Personal Data</b> - A set of private data and/or non-personally identifiable information about a User.<br />
<b>User</b> - a natural person who uses the Site, has downloaded the Mobile Application on a smartphone, tablet or other device. <br />
<b>Service</b> - Site and Mobile Application.<br />
<b>Mobile Application</b> - the Right Holder's software with all enhancements and additions.<br />
<b>Processing of Personal Data (Processing)</b> - any action (operation) or a set of actions (operations) with Personal Data performed with or without the use of automation tools. Processing includes, but is not limited to: collection, recording, systematization, accumulation, storage, clarification (updating, modification), extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction.<br />
<b>Automated Processing</b> - processing of Personal Data by means of computer technology.<br />
<b>Distribution</b> - actions aimed at disclosure of Personal Data to an indefinite number of persons.<br />
<b>Provision</b> - actions aimed at disclosure of Personal Data to a certain person (circle of persons).<br />
<b>Blocking</b> - temporary termination of processing of Personal Data (unless the processing is necessary for their clarification).<br />
<b>Destruction</b> - actions as a result of which it becomes impossible to restore the content of Personal Data and (or) as a result of which tangible media of Personal Data are destroyed.<br />
<b>Depersonalization</b> - actions, as a result of which it becomes impossible, without the use of additional information, to determine whether Personal Data belongs to a particular User.<br />
<b>Cross-border transfer of Personal Data</b> - transfer of Personal Data to a foreign country, a foreign authority, a foreign individual or a foreign legal entity.
</p>
<h4 class="page-section__subtitle">1. Principles of Processing</h4>
<p>
1.1.    Processing of Personal Data is carried out in accordance with the principles:<br />
1.1.1.  The lawfulness and fairness of the Processing.<br />
1.1.2.  Processing in accordance with specific, predetermined and legitimate purposes.<br />
1.1.3.  Avoidance of  combining databases containing Personal Data whose Processing is incompatible with each other.<br />
1.1.4.  Processing only those Personal Data that meet the purposes of their Processing.<br />
1.1.5.  Compliance of the content and scope of Personal Data with the stated purposes of Processing.<br />
1.1.6.  Accuracy, sufficiency, relevance and reliability of Personal Data.<br />
1.1.7.  Legitimacy of technical measures aimed at Processing.<br />
1.1.8.  Reasonableness and expediency of Processing.<br />
1.1.9.  Storage of Personal Data in a form that identifies the subject for no longer than the purpose of the Processing, or for the duration of the Consent period.<br />
1.1.10. Destruction or depersonalization of processed Personal Data in cases specified in this Policy
</p>
<h4 class="page-section__subtitle">2.  Purposes of Processing </h4>
<p>
2.1.    The Right Holder shall collect and process Personal Data in order:<br />
2.1.1.  To improve the operation and technical support of the Service.<br />
2.1.2.  To comply with legal requirements.<br />
2.1.3.  To communicate with the User when they send inquiries.<br />
2.1.4.  To fulfill obligations to the User when they use the Service.<br />
2.1.5.  To conduct statistical research.
</p>
<h4 class="page-section__subtitle">3.  List of Personal Data to be collected</h4>
<p>
3.1.    The Right Holder processes Personal Data, which the User has indicated in the forms of the Site, sent by e-mail specified in the Policy, in the Service, including:<br />
3.1.1.  surname, first name, patronymic;<br />
3.1.2.  telephone;<br />
3.1.3.  e-mail address.<br />
3.2.    The Right Holder processes technical information (non-personalized information) if it can be correlated with the User: <br />
3.2.1.  About the User's device: type, device model, OS version, Internet service provider.<br />
3.2.2.  About the user: Country, region, city.<br />
3.2.3.  About using the Mobile Application: events within the application (date, time and number of visits, information about downloaded or viewed materials, language used), application version, version of libraries used, information about failures within the application.<br />
3.2.4.  About the events that occurred during the User's interaction with the Site pages.
</p>
<h4 class="page-section__subtitle">4.  Cookies </h4>
<p>
4.1.    The Site uses minor files that are placed on the User's device (cookies) that allow information about the User's chosen language to be stored.<br />
4.2.    Cookies are used to collect non-personally identifiable information about the User in order to personalize the User's display.<br />
4.3.    The User has the right to disable cookies at any time using the functionality of their device. <br />
4.4.    If the User disables cookies, certain functionality of the Site may become unavailable, including the language for the User will be English only.
</p>
<h4 class="page-section__subtitle">5.  Terms of processing of Personal Data </h4>
<p>
5.1.    The legal basis for the Processing shall be:<br />
5.1.1.  Fulfillment by the Right Holder of its obligations to the User when he/she uses the Service.<br />
5.1.2.  User's request.<br />
5.1.3.  User's consent.<br />
5.2.    The Right Holder carries out Automated Processing.<br />
5.3.    The Right Holder does not verify the User's legal capacity.
</p>
<h4 class="page-section__subtitle">6.  Storage of Personal Data and protection measures</h4>
<p>
6.1.    The Right Holder stores Personal Data using databases on the territory of the Russian Federation.<br />
6.2.    The Right Holder processes Personal Data during the term of use of the Service.<br />
6.3.    The Right Holder takes administrative, technical measures, which are necessary to protect Personal Data.
</p>
<h4 class="page-section__subtitle">7.  Update, destruction, blocking of Personal Data.</h4>
<p>
7.1.    In case of confirmation of the fact of inaccuracy of Personal Data, the Right Holder shall update it. <br />
7.2.    The Right Holder destroys Personal Data in the case of:<br />
7.2.1.  The presence of a threat to the security of the Service.<br />
7.2.2.  Removal of the Mobile Application from the User's device.<br />
7.2.3.  Achievement of the goal of Processing or loss of the need to achieve such goals.<br />
7.2.4.  Withdrawal of Consent.<br />
7.3.    The Right Holder has the right to temporarily discontinue Processing (except if the Processing is necessary to clarify Personal Data).
</p>
<h4 class="page-section__subtitle">8.  Transfer of Personal Data</h4>
<p>
8.1.    The Right Holder shall not provide Personal Data to third parties without the consent of the User, except for the following case:<br />
8.1.1.  Data is publicly available.<br />
8.1.2.  Provision is necessary to stop illegal actions of the User.<br />
8.1.3.  To protect the legitimate interests of the Right Holder or third parties.<br />
8.1.4.  As established by law.<br />
8.1.5.  Receiving a binding request from a judicial authority, prosecutor's office, police, investigative body.<br />
8.2.    The Right Holder has the right to provide Personal Data to third parties for processing in order to fulfill obligations to the User.<br />
8.3.    The Right Holder uses in the Service the analytical platforms specified in Annex No. 1 to the Policy.<br />
8.4.    In case of providing Personal Data, the Operator warns the recipients that this data can be used only for the purposes for which it is communicated.
</p>
<h4 class="page-section__subtitle">9.  Cross-border transfer of Personal Data</h4>
<p>
9.1.    In order to achieve the goals specified in the Policy, the Right Holder may transfer Personal Data to countries other than the country from which it was originally received. <br />
9.2.    Prior to cross-border transfer of Personal Data, the Right Holder shall ensure that the foreign country to whose territory Personal Data is transferred provides adequate protection of the User's rights.  <br />
9.3.    In the case of cross-border transfer of Personal Data, the Right Holder shall protect the data in accordance with the Policy. <br />
9.4.    Cross-border transfer of Personal Data to foreign countries that do not provide adequate data protection may take place: <br />
9.4.1.  With the User's consent in writing for the cross-border transfer of data. <br />
9.4.2.  In cases stipulated by international treaties of the Russian Federation, stipulated by federal laws, if it is necessary to protect the foundations of the constitutional system of the Russian Federation, ensure national defense and state security. <br />
9.4.3.  To execute an agreement to which the User is a party. <br />
9.4.4.  In order to protect the life, health and other vital interests of the User or the interests of others when it is impossible to obtain the User's consent in writing.
</p>
<h4 class="page-section__subtitle">10. Rights of the User. Requests to the Right Holder</h4>
<p>
10.1.   The User has the right to submit a request for clarification or correction of his/her Personal Data or the processing of his/her Personal Data, including: <br />
10.1.1. The legal basis for processing. <br />
10.1.2. The purposes and methods of processing used. <br />
10.1.3. The Personal Data processed, related to the User concerned, the source of their receipt, unless another procedure for presentation of such data is provided by the legislation of the Russian Federation. <br />
10.1.4. The terms of processing, including the terms of storage of Personal Data. <br />
10.1.5. The procedure for exercising the rights provided for by the legislation of the Russian Federation. <br />
10.1.6. The performed or expected cross-border transfer of data.  <br />
10.1.7. Persons to whom Personal Data may be disclosed on the basis of an agreement with the Right Holder, or data of a person performing the processing on behalf of the Right Holder, if the processing is or is intended to be assigned to such a person. <br />
10.2.   Right Holder's email <a href="mailto:copyright@villow.studio">copyright@villow.studio</a> for submitting a request. <br />
10.3.   The User must specify in the request the information that allows to identify the User.
</p>
<h4 class="page-section__subtitle">11. Obligations of the Right Holder</h4>
<p>
11.1.   Within 30 (thirty) days of receipt of the User's request, the Right Holder is obligated to consider the request and send a reply or reasonable refusal. <br />
11.2.   At the User's request, the Right Holder clarifies, blocks or deletes the processed Personal Data if it is incomplete, outdated, inaccurate, illegally obtained or unnecessary for the stated purpose of the Processing. <br />
11.3.   The Right Holder shall ensure the lawfulness of the Processing. If it is impossible to ensure the legitimacy of Processing, the Right Holder is obliged to destroy or ensure the Destruction of Personal Data within 10 (ten) business days from the date of detection of unlawful Processing.
</p>
<h4 class="page-section__subtitle">12. Closing Provisions</h4>
<p>
12.1.   Availability of the text of the Policy for viewing: The Policy is available for viewing at <a href="https://villow.studio/privacy">https://villow.studio/privacy</a>.  <br />
12.2.   Limitations of the Policy: The Service, the Policy may contain links to other resources that are not managed by the Right Holder. If the User follows the link he/she is redirected to a third party resource. The Right Holder recommends to read the terms of processing of personal data of third-party resources. The Right Holder is not responsible for the content of third-party resources and their policies regarding the processing of personal data. <br />
12.3.   Age restrictions: The Service is intended for a wide audience, if the Mobile application contains age restrictions, the User who does not comply with them shall not use the product. The legal representative of the User whose age did not allow the use of the Mobile Application shall have the right to send a request to the Right Holder to delete the Personal Data of the person being represented. <br />
12.4.   Amendments: The Right Holder shall be entitled to make amendments to the Policy as necessary. The current edition shall include the date of the last update. The new version of the Policy shall be effective from the moment of its posting in the public domain at: <a href="https://villow.studio/privacy">https://villow.studio/privacy</a>.  <br />
12.5.   Applicable law when developing this Policy: The Policy was developed by the Right Holder in accordance with the Federal Law of 27.07.2006 № 152-FZ "On Personal Data", taking into account the provisions of other laws and regulations in the field of personal data. <br />
</p>
<p>
Details of the Right Holder:<br />
Address: 630133, Novosibirsk, Lazurnaya St., 10, apt. 49<br />
Obligatory state registration number (OGRN) 1205400057367<br />
Individual taxpayer number (INN) 5405060053 Tax reason code (KPP) 540501001<br />
E-mail address for matters of the Privacy Policy: <a href="mailto:privacy@villow.studio">privacy@villow.studio</a><br />
E-mail address for other matters: <a href="mailto:support@villow.studio">support@villow.studio</a>
</p>
<h4 class="page-section__subtitle">Annex 1</h4>
<h4 class="page-section__subtitle">to the Privacy Policy as of March 1, 2021.</h4>
<h4 class="page-section__subtitle">Version of Annex 1 effective as of March 1, 2021.</h4>
<p>
<b>Analytical platforms</b><br />
1.  <b>Amplitude</b> (Privacy Policy: <a href="https://amplitude.com/privacy" target="blank">https://amplitude.com/privacy</a>). <br />
2.  <b>Firebase</b> (Privacy Policy: <a href="https://policies.google.com/privacy" target="blank">https://policies.google.com/privacy</a>). User may decline to use certain features of Firebase in the settings of his or her device by following the instructions provided in the privacy policy of the analytics platform).<br />
3.  <b>Yandex.Metrica</b> counter (Privacy Policy: <a href="https://yandex.ru/support/metrica/general/confidential-data.html?lang=ru" target="blank">https://yandex.ru/support/metrica/general/confidential-data.html?lang=ru</a>).
</p>


            </div>
        </b-container>
    </section>
</template>

<script>
    export default {
        name: "PrivacyPolicyPage"
    }
</script>

<style scoped>

</style>
