<template>
  <b-row cols="2">
    <b-col>
      <div class="slide__title">{{ app.title }}</div>
      <div class="slide__subtitle">{{ app.subtitle }}</div>
      <div class="slide__text">{{ app.text }}</div>
      <div class="slide-downloads">
        <a v-for="link in app.links"
           :href="link.url"
           :class="'slide-downloads__link slide-downloads__link_' + link.type"
        />
        <a href="#" class="mack_store"/>
      </div>
    </b-col>
    <b-col>
      <VueSlickCarousel v-bind="appImagesSliderSettings" class="slide-images m-auto" >
        <div @click="$emit('showPhotoSwipe', id) " class="main-slider-slide" v-for="(url, id) in app.images" :key="id">
          <img :class="{'book': app.title === 'Book Night'}" :src="url" :alt="app.name" >
        </div>
      </VueSlickCarousel>
    </b-col>
  </b-row>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  name: 'SliderComponent',
  props: ['app'],
  data() {
    return {
      appImagesSliderSettings: {
        arrows: true,
        dots: true
      }
    }
  },
  components: {
    VueSlickCarousel
  }
}
</script>

<style scoped lang="scss">
.slide-images {
  img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  img.book{
    cursor: pointer;
    width: 50%;
    margin: auto;
  }
}
</style>
